/*Desktop*/

@media only screen and (min-width: 1280px) and (max-width: 3000px){
body{
    background-color: rgb(55, 172, 115);
    font-family: poleno, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    padding: 0;
    margin: 0;
}
p{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding: 0px;
    color: white;
    font-family: poleno, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    width: 60%;
    letter-spacing: 1px;
    word-spacing: 3px; 
}
h1{
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 30px;
    padding: 0px;
    color: rgb(164, 224, 195);
    font-family: coniferous, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 180px;
    line-height: 200px;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h1:after{
    content: ' ';
    width: 130px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 87.15%;
    background-color: rgb(54, 212, 136);
    z-index: 100;
    position: absolute;
    display: block;
    border: 2px solid rgb(54, 212, 136);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
h1:before{
    content: ' ';
    width: 130px;
    height: 107.4%;
    margin-top: 205px;
    margin-bottom: 0px;
    margin-left: 80.7%;
    background-color: rgb(164, 224, 195);
    z-index: 100;
    position: absolute;
    display: block;
    border: 2px solid rgb(164, 224, 195);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
h2:before{
    content: ' ';
    width: 130px;
    height: 90.6%;
    margin-top: -80px;
    margin-bottom: 0px;
    margin-left: 74.3%;
    background-color: rgb(54, 212, 136);
    z-index: 100;
    position: absolute;
    display: block;
    border: 2px solid rgb(54, 212, 136);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
h2{
    margin-top: 300px;
    margin-bottom: 0px;
    margin-left: 30px;
    padding: 0px;
    color: rgb(164, 224, 195);
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 700px;
    line-height: 300px;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h3:nth-of-type(1){
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 50px;
    padding: 0px;
    color: rgb(164, 224, 195);
    font-family: coniferous, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 100px;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
pre{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 0px;
    float: right;
    padding: 0px;
    color: rgb(164, 224, 195);
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 3px; 
}
a{
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 0px;
    padding: 0px;
    color: rgb(164, 224, 195);
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
p:nth-of-type(1), p:nth-of-type(2), p:nth-of-type(3){
    margin: 40px auto auto 50px;
    width: 50%;
    float: right;
}
h5{
    position: relative;
    margin: 600px 0px auto auto;
    padding: 0px;
    color: white;
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 100px;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h4:last-of-type:after{
    content: ' ';
    width: 130px;
    height: 60%;
    margin-top: -900px;
    margin-bottom: 0px;
    margin-left: -18.6%;
    background-color: rgb(54, 212, 136);
    z-index: 100;
    position: absolute;
    display: block;
    border: 2px solid rgb(54, 212, 136);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
h4:last-of-type:before{
    content: ' ';
    width: 130px;
    height: 85.7%;
    margin-top: -1200px;
    margin-bottom: 0px;
    margin-left: -25%;
    background-color: rgb(164, 224, 195);
    z-index: 100;
    position: absolute;
    display: block;
    border: 2px solid rgb(164, 224, 195);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.noindent{
    margin-top: 80px;
    margin-bottom: 200px;
    margin-right: 0px;
    float: right;
    padding: 0px;
    color: white;
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h4:nth-of-type(1){
    margin-top: 300px;
    margin-bottom: 0px;
    margin-left: 800px;
    float: right;
    padding: 0px;
    color: rgb(164, 224, 195);
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h4:last-of-type{
    margin-top: 100px;
    margin-left: 30%;
    padding: 0px;
    color: white;
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 30px;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 3px; 
    clear:both;
}
h3{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 30px;
    padding: 0px;
    color: white;
    font-family: coniferous, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    line-height: 100px;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
}



/*Tablets*/

@media only screen and (min-width: 800px) and (max-width: 1280px){
    body{
        background-color: rgb(55, 172, 115);
        font-family: poleno, sans-serif;
        font-weight: 200;
        font-style: normal;
        color: white;
        padding: 0;
        margin: 0;
    }
    p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
    h1{
        margin-top: 5px;
        margin-bottom: 50px;
        margin-left: 30px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: coniferous, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 180px;
        line-height: 200px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h1:after{
        content: ' ';
        width: 130px;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 79.6%;
        background-color: rgb(54, 212, 136);
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(54, 212, 136);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    h1:before{
        content: ' ';
        width: 130px;
        height: 142.6%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 90%;
        background-color: rgb(164, 224, 195);
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(164, 224, 195);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    h2:before{
        content: ' ';
        width: 130px;
        height: 112.8%;
        margin-top: -400px;
        margin-bottom: 0px;
        margin-left: 56%;
        background-color: rgb(164, 224, 195);
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(164, 224, 195);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    h2{
        margin-top: 300px;
        margin-bottom: 0px;
        margin-left: 200px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 600px;
        line-height: 300px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    pre{
        margin-top: 40px;
        margin-bottom: 80px;
        margin-right: 0px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
    a{
        margin-top: 80px;
        margin-bottom: 100px;
        margin-left: 0px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    p:nth-of-type(1), p:nth-of-type(2), p:nth-of-type(3){
        margin: 30px auto auto 50px;
        width: 60%;
        float: right;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 2px;
        word-spacing: 3px;
    }
    h5{
        position: relative;
        margin: 400px 0px auto auto;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 50;
        font-style: normal;
        font-size: 30px;
        line-height: 30px;
        width: 60%;
        letter-spacing: 3px;
        word-spacing: 4px;
    }
    .noindent:after{
        content: ' ';
        width: 80px;
        height: 56%;
        margin-top: 400px;
        margin-bottom: 0px;
        margin-left: -418px;
        background-color: rgb(54, 212, 136);
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(54, 212, 136);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    .noindent:before{
        content: ' ';
        width: 80px;
        height: 70%;
        margin-top: 300px;
        margin-bottom: 0px;
        margin-left: -500px;
        background-color: rgb(164, 224, 195);
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(164, 224, 195);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    .noindent{
        margin-top: 60px;
        margin-bottom: 200px;
        margin-right: 0px;
        float: right;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        width: 60%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h4:nth-of-type(1){
        margin-top: 150px;
        margin-bottom: 0px;
        margin-left: 300px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 10px;
        width: 98%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h4:last-of-type{
        margin-top: 100px;
        margin-left: 3%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        line-height: 10px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px; 
        clear:both;
    }
    h3{
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        line-height: 100px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h3:nth-of-type(1){
        margin-top: 150px;
        margin-bottom: 0px;
        margin-left: 500px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: coniferous, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 60px;
        line-height: 30px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chap02"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chap02"] ~ h3{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        font-size: 35px;
        line-height: 100px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h3:nth-of-type(4){
        margin: 70px auto 70px 20px;
        padding: 0px;
        font-size: 50px;
        line-height: 30px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP03"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP03"] ~ h3{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        font-size: 35px;
        line-height: 100px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP04"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP04"] ~ h3:nth-of-type(2n){
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        font-size: 35px;
        line-height: 100px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP05"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP06"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP07"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP08"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP09"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP10"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP11"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP12"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP13"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP14"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP15"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP16"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP17"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP18"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP19"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP20"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP21"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP22"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP23"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 18%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    a[name="chaP24"] ~ p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 80%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    pre:last-of-type{
        margin-top: 40px;
        margin-bottom: 80px;
        margin-left: px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        line-height: 10px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
}

/*Smart Phones*/
    
@media only screen and (max-width: 800px){
    body{
        background-color: rgb(55, 172, 115);
        font-family: poleno, sans-serif;
        font-weight: 200;
        font-style: normal;
        color: white;
        padding: 0;
        margin: 0;
    }
    p{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        width: 95%;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
    h1{
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: coniferous, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 140px;
        line-height: 130px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h3:nth-of-type(1):before{
        content: ' ';
        width: 130px;
        height: 95.8%;
        margin-top: 60px;
        margin-bottom: 0px;
        margin-left: -30px;
        background-color: purple;
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(54, 212, 136);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    h3:nth-of-type(1):after{
        content: ' ';
        width: 130px;
        height: 80%;
        margin-top: 200px;
        margin-bottom: 0px;
        margin-left: 100px;
        background-color: white;
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(164, 224, 195);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    h4:nth-of-type(1):before{
        content: ' ';
        width: 130px;
        height: 86%;
        margin-top: -1100px;
        margin-bottom: 0px;
        margin-left: -160px;
        background-color: blue;
        z-index: 100;
        position: absolute;
        display: block;
        border: 2px solid rgb(164, 224, 195);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    h2{
        margin-top: 80px;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 500px;
        line-height: 300px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    pre{
        margin-top: 40px;
        margin-bottom: 80px;
        margin-right: 0px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
    a{
        margin-top: 80px;
        margin-bottom: 100px;
        margin-left: 0px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    p:nth-of-type(1), p:nth-of-type(2), p:nth-of-type(3){
        margin: 30px auto auto 10px;
        width: 95%;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 2px;
        word-spacing: 3px;
    }
    h5{
        position: relative;
        margin: 400px 0px auto 10px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 50;
        font-style: normal;
        font-size: 30px;
        line-height: 30px;
        width: 100%;
        letter-spacing: 3px;
        word-spacing: 4px;
    }
    .noindent{
        margin-top: 60px;
        margin-bottom: 200px;
        margin-left: 10px;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h4:nth-of-type(1){
        margin-top: 1200px;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 10px;
        width: 98%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h2:after{
        content: ' '; 
        opacity: 0%;
    }
    h4:last-of-type{
        margin-top: 70px;
        margin-left: 8%;
        padding: 0px;
        color: white;
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 10px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px; 
        clear:both;
    }
    h3:nth-of-type(1){
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 300px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: coniferous, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 60px;
        line-height: 20px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    h3{
        margin-top: 80px;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 0px;
        color: white;
        font-family: coniferous, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 20px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    pre:last-of-type{
        margin-top: 40px;
        margin-bottom: 80px;
        margin-left: px;
        padding: 0px;
        color: rgb(164, 224, 195);
        font-family: poleno, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        line-height: 10px;
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 3px; 
    }
}
